<p class='button'><%= link_to "SIGN UP", 'users/new', class: "btn btn-lg btn-primary" %></p>
<p class='button'><%= link_to "SIGN IN", '/login', class: "btn btn-lg btn-primary" %></p>
<h1>Welcome !</h1>
