<h1>Team</h1>
<h5>This website has been released by THP Nice</h5>
<p>
  <ul>
    <li><a href='https://github.com/ysalien'>Ysaline</a></li>
    <li><a href='https://github.com/Natdenice'>Nat</a></li>
    <li><a href='https://github.com/TomacTh'>Tom</a></li>
    <li><a href='https://github.com/NikitaVasilev'>Nikita</a></li>
    <li><a href='https://github.com/tutus06'>Arthur</a></li></ul>
    </p>
